header {
    margin-bottom: 2rem;
}

.align-right {
    float: right;
}

.align-left {
    float: left;
}

.submit-btn {
    margin-left: 2rem;
    margin-right: 2rem;
}

.gameName {
    background-color: transparent;
    padding: 0px;
    color: #008cba;
}
