<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/template/head.ejs %>
</head>
<body>
  <% include partials/template/header.ejs %>
  <div class="container">
    <h2>Get the biggest bang for your buck!</h2>

    <div>
      <p class="align-left">Check out which games have the highest average return value!</p>
      <p class="align-right"><%- lastUpdate %></p>
    </div>

    <table class="table table-hover">
        <%- tableData %>
    </table>
  </div> 
</body>
</html>
